.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .question-number {
        width: 75px;
        text-align: center;
    }

    .close-btn {
        font-size: 36px;
        width: 75px;
    }

    h4 {
        margin: 0;
    }
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.answers {
    ion-button {
        height: auto;

        span {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 1.5;
            white-space: normal;
        }
    }
}

.progress-container {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .progress {
        height: 12px;
    }
}