<ion-header>
  <ion-toolbar>
    <div class="toolbar-container">
      <p class="question-number">{{questionIndex + 1}} / 10</p>
      <h4>{{time.toFixed(2)}}</h4>
      <ion-icon class="close-btn" name="close" routerLink="/home" routerDirection="back"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="progress-container">
    <ion-progress-bar class="progress" color="secondary" [value]="timeProgress"></ion-progress-bar>
  </div>
  <div class="question">
    {{ question.content }}
  </div>
  <div class="answers">
    <ion-button *ngFor="let answer of question.answers; let i = index" color="primary" expand="full" class="answer"
      (click)="submitAnswer(answer)">
      <span>{{ answer.content }}</span>
    </ion-button>
  </div>
</ion-content>