<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Konto gracza</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top-section">
    <div class="top-icons">
      <ion-icon name="settings"></ion-icon>
      <ion-icon name="notifications"></ion-icon>
    </div>
    <img class="profile-picture" src="/assets/default-user-picture.jpg" />
    <h1>Jan Kowalski</h1>
  </div>
  <div class="bottom-section">
    <div class="user-info">
      <h2>Dane gracza</h2>
      <div>Jan Kowalski</div>
      <div>Informatyka</div>
      <div>Najlepszy wynik: 99</div>
    </div>
    <div class="bottom-icons">
      <ion-icon name="people"></ion-icon>
      <ion-icon name="trophy"></ion-icon>
      <ion-icon name="mail-open" routerLink="/messages"></ion-icon>
    </div>
  </div>
</ion-content>