<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="user-panel">
    <span>Jan Kowalski</span>
    <img class="profile-picture" src="/assets/default-user-picture.jpg" routerLink="/profile"/>
  </div>
  <img class="logo" src="/assets/ue-logo.jpg" />
  <ion-button color="primary" expand="full" routerLink="/game">Graj</ion-button>
  <ion-button color="primary" expand="full">Ranking</ion-button>
  <ion-button color="primary" expand="full">Pomoc</ion-button>
  <ion-button color="primary" expand="full">Wyjście</ion-button>
</ion-content>