<ion-content>
  <div class="user-panel">
    <span>Jan Kowalski</span>
    <img class="profile-picture" src="/assets/default-user-picture.jpg" routerLink="/profile"/>
  </div>
  <img class="logo" src="/assets/ue-logo.jpg" />
  <ion-button color="primary" expand="full" routerLink="/game-menu">Graj</ion-button>
  <ion-button color="primary" expand="full" routerLink="/ranking">Ranking</ion-button>
  <ion-button color="primary" expand="full" routerLink="/help">Pomoc</ion-button>
  <ion-button color="primary" expand="full" (click)="exit()">Wyjście</ion-button>
</ion-content>