.current-user {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2 {
    margin: 0;
}

.place {
    margin-right: 20px;
}

small {
    font-size: 16px;
}